*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section#home{
    min-height: 100vh;
    background: url(./design-imges/4_contemporary_bedroom_furniture_set_bed-webp.webp);
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    background: rgba(127, 255, 212, 0.688);
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.logo{
    font-size: 38px;
    color: deeppink;
    letter-spacing: 1px;
    transition: .4s ease-in;
}
.logo:hover{
    color: black;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    font-size: 19px;
    color: white;
    font-weight: 700;
    transition: .4s ease-in-out;
}
nav li a:hover{
    color: black;
} 

/* home */
.home-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-contact{
    text-align: right;
    background: #0000007d;
    height: 400px;
    width: 400px;
    margin-top: 100px;
    margin-right: 65px;
}
.home-contact h1{
    font-size: 40px;
    color: white;
    padding: 20px 30px;
}
.home-contact p{
    color: white;
    font-size: 17px;
    text-align: justify;
    padding: 10px 30px;
    line-height: 20px;
} 
.btn{
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 6px 8px;
    margin-right: 30px;
    margin-top: 10px;
    background-color: transparent;
    border: none;
    box-shadow: 2px 2px 7px white;
    transition: .4s ease-in-out;
    background-color: rgba(240, 248, 255, 0.201);
}
.home-contact .btn:hover{
    background-color:rgba(255, 255, 255, 0.777) ;
    color: black;
    box-shadow: 2px 2px 7px aqua;
}

/* card */
.card-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 80px;
}
.card-1 img{
    height: 220px;
    width: 230px;
    border-bottom-left-radius:40px ;
    border-top-right-radius: 40px;
}
.card-1{
    width: 230px;
    height: 310px;
    background: #000000a2;
    border-bottom-left-radius:40px ;
    transition: .3s ease-in-out;
}
.card-1:hover{
    height: 315px;
   border-bottom-right-radius: 40px;
   border-bottom-left-radius:40px ;
}
.card-1 p{
    text-align: center;
    font-size: 16px;
    color: white;
    margin-top: 12px;
}
/* process */
section.our-process{
    background: url(./design-imges/cpi0.avif);
    min-height: 100vh;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.process{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.process-text{
    text-align: right;
    background: #0000007d;
    height: 400px;
    width: 400px;
    margin-top: 100px;
    margin-right: 65px;
}
.process-text h1{
    font-size: 40px;
    color: white;
    padding: 20px 30px;
    letter-spacing: 1px;
}
.process-text p{
    color: white;
    font-size: 17px;
    text-align: justify;
    padding: 10px 30px;
    line-height: 20px;
}
.process-text .btn{
    padding: 7px 10px;
    border-radius: 10px;
}
.btn:hover{
    background-color:rgba(255, 255, 255, 0.777) ;
    color: black;
    box-shadow: 2px 2px 7px aqua;
}
    